<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart - My E-commerce Store</title>
    <link rel="stylesheet" href="stylesheet/cart.css">
    <link rel="shortcut icon" href="images/Favicon/shopease.png" type="image/x-icon"/>

</head>
<body>
    <div class="container">
        <h1>Shopping Cart</h1>
        <div id="cart-items"></div>
        <div class="cart-total">Total: Rs<span id="cart-total">0.00</span></div>
        <div style="text-align: center;">
            <a href="/" class="back-to-store">Back to Store</a>
        </div>
    </div>

    <script src="script/cart.js">
    </script>
</body>
</html>